
 body, main, #main-nav, #main-nav ul, #main-header, #main-header-nav, #main-footer, ul, a, h1, h2, h3, h4, h5, h6, p {
  margin: 0px;
  border: 0px;
}
body
{
	font-family: Arial;
	background-color: purple;
}
#main-header
{
    background-color: red;
    margin-left: 50px;
    margin-right: 50px;
    border: 0px;
}
#content
{
    background-color: white;
    padding-top: 200px;
    padding-bottom: 200px;
    margin-left: 50px;
    margin-right: 50px;
    border: 0px;
}

#main-nav {
  float: right;
  width: 140px;
  margin-left: -160px;
  position: relative;
  padding: 0px;
}

h1
{
    padding-top: 10px;
    padding-bottom:10px; 
    text-align: center;
    
}

