@font-face {
    font-family: 'agency';
    src: url('fonts/AGENCYB.TTF') format('truetype');  

}

@font-face {
    font-family: 'sego';
    src: url('fonts/segoeuil.ttf') format('truetype');  
}

html,
body {
	margin:0;
	padding:0;
	height:100%;
	background-color: #F2F2F2;
	font-family: sego;
	color: #FFFFFF;
	line-height: 0.9;
	text-align: justify;
}


#wrapper {
	min-height:100%;
	position:relative;
}

.centered_content
{
	 width: 75%;
     margin: 0px auto;
     min-height: 100%;
     position: relative;
}

.width100{
	width: 100%;
}

.top_stripe{
	background-color: #81B66E;
	height: 140px;
	}

header table{
	padding-top: 5px;
}


.gray_strip {
 background-color: #595959;
height: 35px;
}

.footer {
	position:absolute;
	bottom:0;
	left:0;
	text-align: center;
	font-size: 12px;

	} 



 .bracket
{
	font-size: 90px;
	padding: 0;
	margin: 0;
	font-family: sego;
	color: #B0DB51;
}

#header_text
{
	text-align: center;
	font-family: agency;
	padding: 0px;
	height: 100%;
	position: relative;
	top: 12px;
}

#header_text  p 
{
	padding: 0;
	margin: 0;
}
#header_subtitle
{
	position: relative;
	top: 35px;
	left: 20px;
	font-family: sego;
	font-size: 18px;

}

.getwiththe_text
{
	color: #FFFFFF;
	font-size: 28px;

}


.program_text
{
	color: #FFFFFF;
	font-size: 40px;
}


ol, ul, li, a 
{
	text-decoration: none;
	list-style: none;
	font-size: 20px;
	margin: 0;
	padding: 0;
	font-weight: bold;
}

.main 
{
	
	padding-bottom: 35px;
	min-height: 100%;
	overflow: auto;
	line-height: 1.5;
	text-align: center;
}

.main p, h1, h2, h3, h4, h5, h6 {
	color: #595959;
}

.main p{
	font-weight: bold;
}


.main p, .main a {
	color: #595959;
	font-size: 18px;
}


.main table{
	padding-top: 40px;
}


.icon_links img{
	height: 120px;
}
.icon_links td{
	height: 175px; 
	vertical-align: middle;
}

.icon_titles p{
	font-size: 15px;
}

.icon_labels a:hover{
	color: #81B66E;
}




