h2{
	padding-top: 2em;
}

p{
	padding-left: 2em;
	padding-right: 2em;
}

h1+p{  /* this selector targets the first p element after an h1, but not other p elements after it*/
	padding-left: 0;
	padding-right: 0;
}