.content h3{
	padding-top: 2em;
}

.content p{
	margin-left: 2em;
	margin-right: 2em;
}

.content h2+p {   /*this selector targets the first p element after an h1, but not other p elements after it*/
	margin-left: 0;
	margin-right: 0;
}